.container {
height: 90px;
border: 1px solid black;
background-color: antiquewhite;
margin-bottom: 20px;
padding: 10px;
box-sizing: border-box;
}

.block {
  border: 1px solid black;
  background-color: gray;
  width: 80px;
  padding: 10px 0;
  text-align: center;
  box-sizing: border-box;
}

.b1 {
  float: left;
}

.b2 {
  float: right;
}

.b3 {
  float: left;
}

.b4 {
  float: right;
  margin-left: 10px;
}

.b5 {
  float: left;
  margin-right: 10px;
}

.b6 {
  float: right;
  margin-left: 10px;
}

.c4-group {
  float: right;
  width: 170px;
}

.b9 {
  float: left;
  padding: 35px 0;
}

.b10 {
  float: right;
  margin-bottom: 10px;
}

.b10-clear {
  clear: right;
}

.c5-group {
  margin: 0 auto;
  width: 170px;
}

.b11 {
  float: left;
  padding: 35px 0;
}

.b12 {
  float: right;
  margin-bottom: 10px;
}

.b13-clear {
  clear: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}